*{
    margin: 0px;
    background-color: rgb(178, 248, 98);
}

.titulo{
    text-align: center;
    background-color: rgb(0, 0, 0);
    padding: 30px 10px;
    margin-bottom: 20px;
    color: rgb(255, 255, 131);
    font-size: 40px;
    font-family: verdana;
    border-bottom: 3px rgb(255, 255, 131) solid;
}

nav{
    height: 50px;
    width: 100%;
}

nav ul{
    float: center;
    margin-right: 20px;
    text-align: center;
}
nav ul li{
    display: inline-block;
    line-height: 20px;
    margin-right: 2px;
    margin-left: 2px;
}

nav ul li a{
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    color: white;
    background-color: rgb(19, 18, 18);
    border-radius: 5px;
    font-family: verdana;
    text-decoration: none;
    border: 3px rgb(255, 255, 131) solid;
    font-weight: bold;
}

li a.active, li a:hover{
    background: rgb(255, 255, 131);
    color: black;
    padding: 7px 13 px;
    border-radius: 5px;
    margin: 0px;
    border: 3px black solid;
    font-weight: bold;
}

.checkbtn{
    float: right;
    line-height: 0px;
    cursor:pointer;
    display: none;
}

#check{
    display: none;
}


main{
    margin: 0px 50px;
}

.logo{
    background-color: white;
}

.apartado_quienes_somos{
    display: flex;
    border: 3px white solid;
}

.quienes_somos{
    display: block;
}

.titulo_quienes_somos{
    text-align: center;
    font-size: 28px;
    color: white;
    background-color: rgb(77, 75, 75);
    font-family: verdana;
    font-weight: bold;
    padding: 10px;
}

.contenido_quienes_somos{
    text-align: justify;
    font-size: 20px;
    color: white;
    background-color: rgb(77, 75, 75);
    font-family: verdana;
    padding: 10px 15px;
    line-height: 31px;
}

.muestra{
    margin: 20px 0px 0px 0px;
}

.titulo_muestra{
    font-size: 25px;
    font-family: verdana;
    font-weight: bold;
    text-align: center;
    background-color: rgb(32, 32, 32);
    border: 3px rgb(255, 255, 131) solid;
    color: white;
    padding: 10px 0px;
    border-radius: 10px;
}

.contenido_muestra{
    text-align: justify;
    background-color: rgb(77, 75, 75);
    border: 3px black solid;
    font-size: 20px;
    color: white;
    font-family: verdana;
    margin-top: 5px;
    padding: 10px 15px;
}

.muestra_negocio{
    background-color: white;
    text-align: center;
    padding: 15px 0px;
    border-bottom: 3px black solid;
    border-left: 3px black solid;
    border-right: 3px black solid;
}

.muestra_img{
    text-align: center;
    margin: 0px 20px;
    background-color: white;
    border-radius: 5px;
}
