*{
    margin: 0px;
    background-color: rgb(178, 248, 98);
}

.titulo{
    text-align: center;
    background-color: rgb(0, 0, 0);
    padding: 30px 10px;
    margin-bottom: 20px;
    color: rgb(255, 255, 131);
    font-size: 40px;
    font-family: verdana;
    border-bottom: 3px rgb(255, 255, 131) solid;
}

nav{
    height: 50px;
    width: 100%;
}

nav ul{
    float: center;
    margin-right: 20px;
    text-align: center;
}
nav ul li{
    display: inline-block;
    line-height: 20px;
    margin-right: 2px;
    margin-left: 2px;
}

nav ul li a{
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    color: white;
    background-color: rgb(19, 18, 18);
    border-radius: 5px;
    font-family: verdana;
    text-decoration: none;
    border: 3px rgb(255, 255, 131) solid;
    font-weight: bold;
}

li a.active, li a:hover{
    background: rgb(255, 255, 131);
    color: black;
    padding: 7px 13 px;
    border-radius: 5px;
    margin: 0px;
    border: 3px black solid;
    font-weight: bold;
}

.checkbtn{
    float: right;
    line-height: 0px;
    cursor:pointer;
    display: none;
}

#check{
    display: none;
}


main{
    margin: 0px 50px;
}

.descripcion_servicio{
    text-align: center;
    font-size: 20px;
    color: white;
    background-color: rgb(77, 75, 75);
    font-family: verdana;
    padding: 10px;
    border-radius: 3px;
    border: 3px white solid;
}

.titulo_entrega_compra{    
    font-size: 25px;
    font-family: verdana;
    font-weight: bold;
    text-align: center;
    background-color: rgb(32, 32, 32);
    border: 3px rgb(255, 255, 131) solid;
    color: white;
    padding: 10px 0px;
    border-radius: 10px;
    margin-top: 10px;
}

.mapa{
    margin: 0px 0px 0px 330px;
}

.entrega_compra{
    display: flex;
    margin-top: 5px;
    padding: 10px 0px;
    background-color: white;
    border: 3px black solid;
}

.apartado_entrega_compra_delivery{
    display: block;
    text-align: center;
    margin: 5px 30px 5px 325px;
    background-color: white;
}

.apartado_entrega_compra_ubicación{
    display: block;
    text-align: center;
    margin: 5px 25px 5px 25px;
    background-color: white;
}

.apartado_entrega_compra_encuentro{
    display: block;
    text-align: center;
    margin: 5px 25px 5px 25px;
    background-color: white;
}

.info_entrega_compra{
    font-size: 20px;
    text-align: center;
    font-family: verdana;
    font-weight: bold;
    background-color: white;
}

.logo{
    background-color: white;
}